body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #373737
}

h1 {
  font-family: Comic Sans MS; /* Sweet, Sweet Revenge for doing nothing :D  (Just delete this line if you don't like the font, or change it.) */
  font-style: impact;
  color: #5271ff;
}

p {
  color: white
}

a {
  color: #5271ff;;
  font-style: blue;
}
